.feedback-section {
  display: flex;
  margin-bottom: 247px;
}
.feedback-section .container {
  padding-left: 0;
}
.feedback {
  padding: 62px 545px 74px 166px;
  background-color: $maincolor;
  background-image: url("../../imgs/feedback-bg.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
}
.feedback__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: $white;
  margin-bottom: 14px;
}
.feedback__text {
  @include text-style;
  color: $grey;
  width: 366px;
  margin-bottom: 29px;
}
.feedback__form {
  width: 375px;
  display: flex;
  flex-direction: column;
}
.feedback__inpt {
  width: 375px;
  height: 50px;
  @include text-style;
  color: $grey;
  overflow: hidden;
  border: none;
  background: #ffffff;
  border-radius: 0px;
  margin-bottom: 14px;
  padding: 16px 0 13px 22px;
}
.feedback__inpt:focus-visible {
  border: 2px solid #ffbd54;
}
.feedback__textarea {
  width: 375px;
  height: 165px;
  overflow: hidden;
  padding: 17px 0 0 22px;
  margin-bottom: 30px;
}
.feedback__btn {
  width: 226px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $white;
  border: none;
  transition: background 0.4s ease;
  background: $golden;
  border-radius: 0px;
}
.feedback__btn:hover {
  background-color: $maincolor;
  color: $golden;
}
.feedback__btn:active {
  opacity: 0.6;
}
@media screen and (max-width: 1461px) {
  .feedback {
    padding: 62px 375px 74px 166px;
  }
}
@media screen and (max-width: 1280px) {
  .feedback {
    padding: 62px 10px 74px 166px;
  }
}
@media screen and (max-width: 900px) {
  .feedback {
    padding: 62px 10px 74px 30px;
  }
}
@media screen and (max-width: 745px) {
  .feedback__inpt,
  .feedback__textarea {
    width: 255px;
  }
}
@media screen and (max-width: 690px) {
  .feedback {
    padding: 62px 10px 74px 95px;
  }
  .feedback__map {
    display: none;
  }
}
@media screen and (max-width: 525px) {
  .feedback-section {
    background-color: $maincolor;
  }
  .feedback {
    padding: 35px 10px 74px 51px;
  }
  .feedback__title {
    font-size: 41px;
  }
}
@media screen and (max-width: 430px) {
  .feedback {
    padding: 32px 10px 74px 25px;
  }
  .feedback__text {
    width: auto;
  }
}
